
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background-color: #F4F4F4;
}

header{
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
  padding-left: 50px;
}
h1{
  font-family: sans-serif;
  font-size: 122px;
  color: #D4D4D4;
  margin-bottom: 0px;
}
h2{
  font-family: Raleway;
  font-size: 37px;
  color: #D4D4D4;
  margin-top: 0px;
  margin-bottom: 88px;
  font
}
.pantalla1{
  height: 700px;
  display: flex;
  justify-content: space-around;
}
.container-1{
  width: 60vw;
  padding-left: 184px;
  padding-top: 184px;
  justify-content: flex-end;
}
